:root{
    --color-text-primary: #373435;
    --color-text-strong: #000;
    --color-text-inverse: #fdf4e8;
    --color-surface-neutral: #fff;
    --color-brand-primary: #404015;
    --color-brand-secondary: #878766;
}